* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;

    /* Background Image */
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;     /* vertical center */
    justify-content: flex-start; /* move to LEFT */

    padding-left: 80px; /* space from left */
}

/* Optional dark overlay */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

.container {
    z-index: 1;
}

form {
    display: flex;
    gap: 10px;
}

input {
    padding: 12px;
    width: 260px;
    border-radius: 25px;
    border: none;
    outline: none;
}

button {
    padding: 12px 18px;
    border-radius: 25px;
    border: none;
    background: white;
    cursor: pointer;
}

button:hover {
    background: black;
    color: white;
}
